<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap" rel="stylesheet">   
</head>



<body>
    <div class="whole">
        <nav class="fisrst-nav">
            <div id="soju">
                <div id="one1" style="width: 57px; height: 43px; "><a href="works.html">Works</a></div>
                <div id="two2" style="width: 106px; height: 43px; text-align: center;"><a href="blog.html">Blog</a></div>
                <div id="three3" style="width: 71px; height: 43px;"><a href="contact.html">Contact</a></div>
            </div>
        </nav>
        <div class="all">
            <div class="first">
                <div class="abouta">
                    Hi, I am Apoorva, <br>Creative Technologist
                </div>
                <div class="aboutb">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
            </div>
    
            <div class="aboutc"><img class="myimage"
                    src="https://tse2.mm.bing.net/th?id=OIP.RPtd3SAhoeQCImUO7KxyRwHaHa&pid=Api&P=0&h=180" alt="my face">
            </div>
    
        </div>
        <div class="this">
            <div class="under">
                <div class="two">
                    <div class="resent-posts">Resent posts</div>
                    <div class="veiw-all"><a href="veiw-all.html">View all</a></div>
                </div>
                <div class="both">
                    <div class="making">
                        <div class="one"><h1>Making a design system from scratch</h1></div>
                        <div class="againtwo">
                            <div class="merge">12 Feb 2020  |  Design, Pattern</div>
                        </div>
                        <div class="para">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </div>
                    </div>
                    <div class="making">
                        <div class="one"><h1>Creating pixel perfect icons in Figma</h1></div>
                        <div class="againtwo">
                            <div class="merge">12 Feb 2020  |  Figma,Icon Design</div>
                        </div>
                        <div class="para">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    
                     </div>
                
                </div>
            </div>
        </div>
        
        <div class="featured">
            <div class="top">Featured works
            </div>
            <div class="designing">
                <div class="im1">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.gASMlPqsrIt_9q8Y76PZKgHaFj&pid=Api&P=0&h=180" alt="">
                </div>
                <div class="design">
                    <div class="designing">Designing Dashbaords</div>
                    <div class="2d">
                        <div class="box1">2020</div>
                        <div class="dash">Dashboards</div>
                    </div>
                    <div class="para2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                </div>
            </div>
        </div><hr>
        <div class="featured">
            <div class="designing">
                <div class="im1">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.I4X_ilJ5O8dMg1yrVXovmQHaEo&pid=Api&P=0&h=180" alt="">
                </div>
                <div class="design">
                    <div class="designing">Vibrant Portraits of 2020</div>
                    <div class="2d">
                        <div class="box1">2018</div>
                        <div class="dash">Illustration</div>
                    </div>
                    <div class="para2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                </div>
            </div>
        </div><hr>
        <div class="featured">
            <div class="designing">
                <div class="im1">
                    <img src="https://tse4.mm.bing.net/th?id=OIP.anp0XQz24UeOEE5qf-5swQHaEo&pid=Api&P=0&h=180" alt="">
                </div>
                <div class="design">
                    <div class="designing">36 Days of Malayalam type</div>
                    <div class="2d">
                        <div class="box1">2018</div>
                        <div class="dash">Typography</div>
                    </div>
                    <div class="para2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                </div>
            </div><hr>
        </div>
    <div class="foot">
        <footer class="end">
            <img src="Copyright ©2020 All rights reserved " alt="">
        </footer>
    </div>
    </div>
    
</body>

</html>